#home .head {
  font-size: 25px;
  margin: 0;
  text-align: center;
}
#home .head a {
  color: bgColor;
  border-bottom: 2px dotted bgColor;
  text-decoration: none;
  font-weight: bold;
}
#home .head a:hover {
  color: highlight;
  border-bottom: 3px dotted highlight;
}
#home #posts {
  padding-top: 50px;
  max-width: 660px;
  margin: 0 auto;
}
ul.post-list {
  padding: 0;
}
ul.post-list li {
  margin-top: 15px;
  display: block;
  padding: 0;
}
ul.post-list li:first-child {
  margin-top: 0;
}
ul.post-list li a,
ul.post-list li p {
  margin: 0;
}
ul.post-list li a.blog-title,
ul.post-list li p.blog-title {
  font-size: 19px;
  float: left;
  font-weight: 600;
}
ul.post-list li a.blog-date,
ul.post-list li p.blog-date {
  font-weight: 100;
  font-size: 13px;
  clear: both;
  text-transform: uppercase;
}
ul.post-list li a.blog-tags,
ul.post-list li p.blog-tags {
  float: right;
  display: inline-block;
  font-size: 12px;
  font-style: italic;
}
