#projects-list ul {
  padding: 0;
  margin: 0;
}
#projects-list ul li {
  display: block;
  margin: 0;
  max-width: 18%;
  float: left;
  margin: 2em;
}
#projects-list ul li img {
  max-width: 100%;
  display: block;
}
#projects-list ul li p {
  margin: 0;
}
#projects-list ul li .project-image {
  background: highlight;
}
#projects-list ul li .project-description {
  padding: 1em 0px;
}
#projects-list ul li .project-title {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.3em;
}
#projects-list ul li .project-year {
  font-size: 0.9em;
}
@media screen and (max-width: 900px) {
  #projects-list ul li {
    max-width: 25%;
    margin: 1em;
  }
}
@media screen and (max-width: 600px) {
  #projects-list ul li {
    max-width: 100%;
    margin: 1em 0em;
  }
}
@media screen and (min-width: 900px) {
  #projects-list ul li .project-image {
    min-width: 185px;
    min-height: 185px;
    background: highlight;
  }
}
#project-details header h1 {
  margin: 0;
}
#project-details article figure {
  margin: 1em 0em;
}
#project-details article figure img {
  max-width: 100%;
  display: block;
}
